{% extends "base.html" %}

{% block scripts %}
  {{super()}}
    <!--Load the AJAX API-->
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['annotationchart']});
      {% for result in results %}
      google.charts.setOnLoadCallback(function(){drawChart({{result[0].id}}, {{result[1]|safe}});});
      {% endfor %}

      function drawChart(id, table) {
        var data = new google.visualization.DataTable(table);

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.AnnotationChart(document.getElementById('linechart_' + id));
        chart.draw(data, {'width': 900, 'height': 300});
      }
    </script>
{% endblock %}


{% block mainpane %}
  {% for result in results %}
  <p>{{result[0]}}</p>
  <div id="linechart_{{result[0].id}}"></div>
  {% endfor %}
{% endblock %}

