{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar_budget %} class="active" {% endblock %}

{% block mainpane %}
    <h1>Budgets</h1>
    <table class="table">
      {% for budget in budgets %}
      <tr>
        <td> 
          <p><a href={{ url_for('budget.budget', budget_id=budget.id) }}>{{budget.name}} {{budget.year}} {{budget.status}}</a></p>
        </td>
      </tr>
      {% endfor %}
    </table>

    <p><a data-toggle="modal" href="#myModal">New budget</a></p>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Budget</h4>
          </div>
          <div class="modal-body"> {{ wtf.quick_form(form) }} </div>
        </div>

      </div>
    </div>

{% endblock %}

