{% extends "base.html" %}

{% block mainpane %}

<input type='text' name='search'>

<table id="patterns" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th> 
      <th>Pattern</th>
      <th>Minimum</th>
      <th>Maximum</th>
    </tr>
  </thead>
  <tbody> </tbody>
</table>
{% endblock %}


{% block scripts %}
  {{super()}}
<script src='https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.5.0/fuse.min.js'></script>
<script>
var options;
var fuse;
$(document).ready(function(){
  $.get("{{url_for('pattern.rest_patterns')}}", function(data, status){
    _patterns = data['rows'];
    fuse = new Fuse(
      _patterns, {
        minMatchCharLength: 2,
        threshold: 0.01, 
        distance: 100,
        keys: ['pattern']
      }
    )
  });

  $("input[name='search']").keyup(function() {
    var table = $("table#patterns tbody");
    table.empty();
    fuse.search($("input[name='search']").val());
    for (i=0; i<fuse.results.length; i++) {
      var item = fuse.results[i].item;
      var row = $("<tr>")
        .append("<td><a href=\"/finances/pattern/"+item.id+"\">"+item.id+"</a></td>")
        .append( $("<td>").text(item.pattern) )
        .append( $("<td>").text(item.minimum) )
        .append( $("<td>").text(item.maximum) )
        ;

      table.append(row);
    }
  });
});
</script>
{% endblock %}
  
