{% extends "base.html" %}

{% block mainpane %}
<div id="row">
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>

<div id="modalEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="tid">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="me_date">Date:</label>
            <div class="col-sm-10">
              <input type="text" class="datepicker form-control" id="me_date">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="me_name">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="me_name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="me_category">Category:</label>
            <div class="col-sm-10">
              <select class="form-control" id="me_category"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="me_amount">Amount:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="me_amount">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="me_yearly">Yearly:</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-control" id="me_yearly">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" id="me_update" class="btn btn-default">Update</button>
              <button type="button" id="me_split" class="btn btn-default">Split</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


<div id="modalSplit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="tid"></input>
        <input type="hidden" class="form-control" id="ms_total"></input>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="ms_date">Date:</label>
            <div class="col-sm-5"> <input type="text" class="datepicker form-control" id="ms_date"> </div>
            <div class="col-sm-5"> <input type="text" class="datepicker form-control" id="ms_date2"> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="ms_name">Name:</label>
            <div class="col-sm-5"> <input type="text" class="form-control" id="ms_name"> </div>
            <div class="col-sm-5"> <input type="text" class="form-control" id="ms_name2"> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="ms_category">Category:</label>
            <div class="col-sm-5"> <select class="form-control" id="ms_category"></select> </div>
            <div class="col-sm-5"> <select class="form-control" id="ms_category2"></select> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="ms_amount">Amount:</label>
            <div class="col-sm-5"> <input type="text" class="form-control" id="ms_amount"> </div>
            <div class="col-sm-5"> <input type="text" class="form-control" id="ms_amount2"> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="ms_yearly">Yearly:</label>
            <div class="col-sm-5"> <input type="checkbox" class="form-control" id="ms_yearly"> </div>
            <div class="col-sm-5"> <input type="checkbox" class="form-control" id="ms_yearly2"> </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" id="ms_update" class="btn btn-default">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<table id="transactions" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th> 
      <th>Date</th> 
      <th>Name</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Yearly</th>
    </tr>
  </thead>
  <tbody> </tbody>
</table>

{% endblock %}


{% block scripts %}
  {{super()}}
<!--http://numeraljs.com/-->
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{url_for('transaction.static', filename='js/categories.js')}}"></script>
<script src="{{url_for('transaction.static', filename='js/transactions.js')}}"></script>
<script>
$(document).ready(function(){
  google.charts.load('current', {'packages': ['corechart']});
  var a1 = $.get("{{url_for('category.rest_categories_selectbox')}}");
  var a2 = $.get("{{url_for('transaction.rest_transactions', category_id=category_id)}}"); 

  $.when(a1, a2).done(function(r1, r2) {
    categories = r1[0].categories;
    addCategoryOptions($("div.modal select"));
    processTransactions(r2[0]);
  });

  $('button#me_update').click(function(){
    EditModal_update(
      "{{url_for('transaction.rest_update_transaction', category_id=category_id)}}"
    )
  });

  $('button#me_split').click(EditModal_split);
  $('button#sm_update').click(function(){
    splitModal_update(
      "{{url_for('transaction.rest_split_transaction', category_id=category_id)}}"
    );
  });
  $('div#modalSplit input#ms_amount').change(splitModal_change);
  $('div#modalSplit input#ms_amount2').change(splitModal_change);

});
</script>
{% endblock %}
 
