{% extends "base.html" %}

{% block mainpane %}
<div id="row">
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>

<button id="update" type="button" class="btn btn-default">Update</button>

<div id="modalEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="tid"></input>
        <table id="transaction" class="table table-striped">
          <tr><td>Date</td><td><input type="text" class="datepicker form-control"></input></td></tr>
          <tr><td>Name</td><td><input type="text" class="form-control"></input></td></tr>
          <tr><td>Category</td><td><select class="form-control"></select></td></tr>
          <tr><td>Amount</td><td><input type="text" class="form-control"></input></td></tr>
          <tr><td>Yearly</td><td><input type="checkbox" class="form-control"></input></td></tr>
          <tr>
            <td></td>
            <td>
              <button type="button" id="em_update" class="btn btn-default">Update</button>
              <button type="button" id="em_split" class="btn btn-default">Split</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>


<div id="modalSplit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="tid"></input>
        <table id="transaction" class="table table-striped">
          <tr>
            <td>Date</td>
            <td><input type="text" class="datepicker form-control"></input></td>
            <td><input type="text" class="datepicker form-control"></input></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input type="text" class="form-control"></input></td>
            <td><input type="text" class="form-control"></input></td>
          </tr>
          <tr>
            <td>Category</td>
            <td><select class="form-control"></select></td>
            <td><select class="form-control"></select></td>
          </tr>
          <tr>
            <td>Amount</td>
            <td><input type="text" class="form-control"></input></td>
            <td><input type="text" class="form-control"></input></td>
          </tr>
          <tr>
            <td>Yearly</td>
            <td><input type="checkbox" class="form-control"></input></td>
            <td><input type="checkbox" class="form-control"></input></td>
          </tr>
          <tr>
            <td align="center" colspan="3">
              <button type="button" id="sm_update" class="btn btn-default">Update</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>


<table id="transactions" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th> 
      <th>Date</th> 
      <th>Name</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Yearly</th>
    </tr>
  </thead>
  <tbody> </tbody>
</table>

{% endblock %}


{% block scripts %}
  {{super()}}
<!--http://numeraljs.com/-->
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{url_for('transaction.static', filename='js/transactions.js')}}"></script>
<script>
$(document).ready(function(){
  google.charts.load('current', {'packages': ['corechart']});
  var a1 = $.get("{{url_for('category.rest_categories_selectbox')}}");
  var a2 = $.get("{{url_for('transaction.rest_transactions', category_id=category_id)}}"); 

  $.when(a1, a2).done(function(r1, r2) {
    processCategories(r1[0].categories);
    processTransactions(r2[0]);
  });

  $('button#em_update').click(editModal_update);
  $('button#em_split').click(editModal_split);
  $('button#sm_update').click(splitModal_update);

  $('button#update').click(function(){
    var trans = [];
    $("table#transactions tbody tr").each(function(index, elem) {
      var tds = $(this).find('td')
      trans.push({
        id: $(tds[0]).text(),
        date: $(tds[1]).find('input').val(),
        name: $(tds[2]).find('input').val(),
        category_id: $(tds[3]).find('select').val(),
        amount: $(tds[4]).text(),
        yearly: $(tds[5]).find('input').prop('checked'),
      });
    });
    var form = $('<form></form>');
    form.attr({method: "post", action: "{{url_for('transaction.update_transactions')}}"});
    form.append(
      $('<input></input>').attr({
        type: "hidden",
        name: "transactions",
        value: JSON.stringify(trans),
      })
    );
    $(document.body).append(form);
    form.submit();
  });
});
</script>
{% endblock %}
 
