{% extends "base.html" %}
{% block navbar_about %} class="active" {% endblock %}
{% block mainpane %}
<label class="btn btn-default btn-file">
    Browse <input id="fileinput" type="file" style="display: none;">
</label>

<button type="button" class="btn btn-default">Upload</button>

<div id="transactions"></div>
{% endblock %}

{% block scripts %}
  {{super()}}
<script src="{{url_for('transaction.static', filename='js/categories.js')}}"></script>
<script src="{{url_for('transaction.static', filename='js/upload_transactions.js')}}"></script>
<script>
$(document).ready(function(){
  $.get(
    "{{url_for('category.rest_categories_selectbox')}}",
    function(data, status) { categories = data.categories; }
  );

  $("input#fileinput").change(function(){
    var reader = new FileReader();

    reader.onload = function(){
      $.post(
        "{{url_for('transaction.rest_parse_records')}}", 
        { text: reader.result },
        function(data, status) {
          parseTransactions(data);
        }
      );
    }

    $("table#output tbody tr").remove();
    reader.readAsText($(this)[0].files[0]);
  });

  $('button').click(function(){
    var trans = [];
    $("table#output tbody tr").each(function(index, elem) {
      var tds = $(this).children();
      var select = $(tds[2]).children().first();
      var input = $(tds[4]).children()[0];
      trans.push({
        record: $(this).attr('record'),
        date: $(tds[0]).text(),
        name: $(tds[1]).text(),
        category_id: $(select).val(),
        amount: $(tds[3]).text(),
        yearly: $(input).prop('checked'),
      });
    });
    //console.log(trans);
    $.post(
      "{{url_for('transaction.rest_upload_transactions')}}", 
      { transactions: JSON.stringify(trans) },
      function(data, status) {
        $("table#output tbody tr").remove();
      }
    );
  });
});
</script>
{% endblock %}

